@font-face {
    font-family: 'Nunito';
    src: url(Nunito-VariableFont_wght.ttf);
}

body {
    background-color: #08415C;

}

.main {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: #a2c5ac;
    display: inline;
}

#silentsummit {
    padding-right: 1em;
    display: inline;
    transition: filter 0.75s;
}

#silentsummit:hover {
    filter: brightness(0) saturate(100%) invert(75%) sepia(14%) saturate(732%) hue-rotate(200deg) brightness(83%) contrast(85%);
}

/* If the screen size is 601px wide or more */
@media screen and (min-width: 601px) {
    .main {
      font-size: 60px;
    }
    #container {
        text-align: left;
        padding: 50px;
    }
}

/* If the screen size is 600px wide or less */
@media screen and (max-width: 600px) {
    .main {
      font-size: 30px;
    }
    #container {
        text-align: center;
        padding-top: 35px;
    }
}